body {
  background: #f0f0f0;
}

.pokename,
.poketype {
  text-transform: capitalize;
}

.poketype,
.poketype:hover,
.poketype:focus {
  color: white;
  border-width: 0.2rem;
  border-radius: 0;
}

.poketype:hover {
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.info-card {
  z-index: 100;
}

.modal-back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.button-load {
  width: 100%;
}

.pokeinfo-unselect {
  display: none;
}

.pokemon-stat-name-cell {
    width: 70%;
}

@media (max-width: 768px) {
  .poke-info {
    position: fixed;
    top: 0;
    left: 0;
  }

  .info-card {
    max-height: calc(100vh - 5rem);
    overflow-y: scroll;
  }

  .modal-back {
    display: block;
  }

  .pokeinfo-unselect {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .info-card {
    position: fixed;
    max-height: calc(100vh - 8.5rem);
    overflow-y: scroll;
    width: 25%;
  }
}
